<div>
    <%= image_tag('image/hands.jpg', class: "imagesize-about") %>
</div>

<div class="about-box">
<h1>ようこそ「Job Matching」へ</h1>
<br>
    <p>当サイトは、20代求職者の方と、フリーランスのキャリアアドバイザーを結びつける、マッチングサイトです。</p>
<br>
    <p>求職者の方は、希望する仕事を検索し、面接対策などをキャリアアドバイザーを通して相談することができます。</p>
    <p>キャリアアドバイザーの方は、登録者の中から、担当する求人にマッチする方を探すことができます。</p>
<br>
    <p>お互い良いご縁に繋がるよう、ぜひ積極的にコミュニケーションをとってみてください！</p>
<br>
<br>
    <p>《当サイトの活用方法》</p>
<br>
   <h4><b>求職者の方</b></h4>
   <p>①まずは職務概要の記載を</p>
   <p>新規登録後、「マイページ」の「マイページ編集」より、「職務概要」をご記載ください。</p>
   <p>「職務概要」を細かく記載することで、多くのキャリアアドバイザーからスカウトメッセージが届くようになります。</p>
<br>
   <p>②転職診断について</p>
   <p>求人を探す前に、まずは「マイページ」の「転職診断をする」をクリックしてください。</p>
   <p>転職したい職種を選択し、おおよその合格率を把握しておきましょう。</p>
   <p>合格率の数値は、これまでのご経歴、経験年数、ご年齢を加味して算出されますが、あくまで目安数値なので参考までにご確認ください。</p>
   <p>「一口メモ」も、ご経験によってアドバイスが変わるので、ぜひあわせてチェックしてみてください。</p>
<br>
   <p>③求人検索について</p>
   <p>「マイページ」の「求人を探す」から、求人を検索することができます。</p>
   <p>興味のある求人には「興味がある」ボタンを押してみましょう。</p>
   <p>正式に応募したい場合は、担当するキャリアアドバイザーに直接チャットを送ってみましょう。</p>
   <p>頻繁に連絡をとるキャリアアドバイザーは、把握しやすいよう「フォロー」をしておきましょう。</p>
<br>
<br>
   <h4><b>キャリアアドバイザーの方</b></h4>
   <p>①まずは求人の追加を</p>
   <p>新規登録後、「マイページ」の「求人追加」より、担当企業様の求人を登録してください。</p>
   <p>登録した求人は、「マイページ」の「担当求人一覧」に反映されるので、登録後は必ずチェックしてみましょう。</p>
<br>
   <p>②通知連絡について</p>
   <p>求職者から求人への興味が押された場合、「お知らせ」より通知が届きます。</p>
   <p>該当求人も表示されるため、求職者の職歴とあわせて必ず確認するようにしましょう。</p>
   <p>求職者のページへ遷移し、本人と直接チャットでやり取りすることもできます。</p>
<br>
   <p>③求職者の「お気に入り求人」について</p>
   <p>求職者が「興味がある」ボタンを押した際に、該当の求人が「お気に入り求人」に保存されます。</p>
   <p>求職者がどのような求人に興味があるのか、志向性などを把握するために活用してみましょう。</p>
<br>
   <p>④ユーザー検索について</p>
   <p>「マイページ」の「ユーザー検索」より、求職者を検索することができます。</p>
   <p>応募が少ない際は、担当する求人にマッチする求職者をピンポイントで探し、積極的にコンタクトをとっていきましょう。</p>
<br>
   <p>⑤タスク管理について</p>
   <p>複数の候補者を担当する際業務が煩雑化してくるため、タスク管理機能の活用をおすすめします。</p>
   <p>入力したタスクは日付が近い順に閲覧できるため、上から順にチェックし完了させていきましょう。</p>
<br>
</div>